// Password Reset Modal
// ===
//
// Found in sign in page
//
// 1. Add !important to override inline style
// scss-lint:disable all
.gwt-PopupPanelGlass {
    display: none !important;
}

.c-password-reset-pinny {
    .gwt-TextBox {
        + .note {
            margin-top: $sub-unit;

            color: $neutral-50;
            font-weight: $light-font-weight;
            font-size: $smaller-font-size;
        }
    }

    .gwt-submit-cancel-dialog-button-panel {
        margin: $unit 0 $sub-unit*3;
    }

    .gwt-submit-cancel-dialog-content-panel {
        padding: 0 $unit 0 $unit;
    }

    .c-form-group {
        margin-top: $unit;
    }

    .c-box__label {
        text-transform: capitalize;
    }
}

.c-sheet.c-password-reset-pinny {
    box-shadow: none !important;
}
