// Main image loader.
//---

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.c-product-image {

}

.c-main-image {
    .c-loading {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 300px;

        background: $neutral-210;
    }

    .u-visually-hidden {
        position: static !important;
    }
}
