.c-input-form-wrapper__button {
    position: absolute;
    top: 0;
    right: 0;

    height: 39px;
    min-height: 39px;
    margin-top: 3px;
    margin-right: 3px;
    padding-top: $sub-unit+2;
    border: 1px solid $black;

    border-radius: 2px;
    background: $neutral-210 $neutral-gradient;

    color: $black;
    font-family: $default-sans;
    font-weight: bold;
}

.c-input-form-wrapper__input-text {
    border: 0;
}

.c-input-form__wrapper {
    position: relative;

    margin: $sub-unit*3 $unit $unit*2;
    border: 1px solid $neutral-50;

    border-radius: 2px;
    background: $white;

    .u--disabled {
        pointer-events: none;
    }
}
