// change password
// =================

//  TODO: Below line should be removed
//scss-lint:disable all

.t-change-password-section {
    padding: 0 $unit;

    .c-continue-button:after {
        content: '>';
    }

    // TODO: Check from where the id is getting styling, may be getting this from other page
    #gwt-error-placement-div {
        padding-bottom: 0;
    }

    label {
        padding-left: 0;
    }
}
