.c-fit-tip {
    margin-left: $sub-unit;
    padding: 0 $unit !important;

    color: $neutral-240;
    font-family: verdana;
    font-size: $smaller-font-size;

    > div {
        display: none;
    }
}
