.c-need-help-bellow {
    img {
        height: 23px;
    }
}

.c-need-help-heading {
    color: #078ac0;
}

.bellows__content h2 {
    color: #333;
}

.bellows__content a {
    color: #0052ae;
}

.bellows__content h2 .prod_redtext {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 25px;

    color: #ff2812;
    font-weight: 600;
}

#grp_1 > h2:first-child {
    display: none;
}

.prod_detail_inventory {
    display: none;
}

.prod_detail_preorder_inventory {
    clear: both;

    display: block;
    height: auto;
    padding-top: 13px;

    color: #ff3112;
    font-weight: bold;
    font-size: 13px;
}

.c-bellows__content {
    background: $white;
}
