.c-need-help-bellow {
    img {
        height: $unit *2;
    }
}

.c-need-help-heading {
    color: $neutral-340;
}

.bellows__content h2 {
    color: $neutral-240;
}

.bellows__content a {
    color: $neutral-360;
}

.bellows__content h2 .prod_redtext {
    display: inline-block;
    margin-top: $sub-unit;
    margin-bottom: $unit * 2;

    color: $neutral-330;
    font-weight: 600;
}

[id="grp_1"] > h2:first-child {
    display: none;
}

.prod_detail_inventory {
    display: none;
}

[class="prod_detail_preorder_inventory"] {
    clear: both;

    display: block;
    height: auto;
    padding-top: $unit;

    color: $neutral-280;
    font-weight: bold;
    font-size: $small-font-size;
}

.c-bellows__content {
    background: $white;
}
