.ref2OnSaleTitle {
    position: relative;
    top: 3px;
    clear: both;

    color: #ff3112;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
}

.c-product-item-id {
    margin-bottom: 8px;
    padding: $sub-unit;
    padding-top: 2px;

    color: #464749;
    font-family: verdana;
    font-size: 12px;
    text-shadow: 0 1px #eae7e7;
}

.prod_select_title {
    padding-right: 6px;

    color: #464749;
    font-weight: bold;
    font-size: 15px;
}

.mSizeChart {
    float: left !important;

    margin: 10px 0 0 0 !important;
    a {
        color: #ff8413 !important;
        font-family: verdana;
        font-weight: bold;
        font-size: 11px;
    }
}
