.c-slideshow {
    .c-swatches {
        position: relative !important;

        display: inline;
    }

    .s7flyoutSwatchActiveBorder {
        border-width: 2px;
        border-style: solid;
        border-color: #0097c1;

        opacity: 0.9;
    }
}
.c-slideshow__slide {
    width: 50%;
}
