// Sign in
// =================

.t-terms-page {
    padding: 0 $unit;
    strong {
        display: block;
        margin-bottom: $sub-unit;
    }

    .c-breadcrumb {
        padding-left: 0;
    }
}
