// Find your card popup
// ======

.showCardId {
    [id='find-your-ccid'] {
        br {
            display: none;
        }
        img {
            width: 262px;
            height: auto;
        }
    }
}
