// Padding Utilities
// ===

.u-padding {
    padding-right: $unit*2 !important;
    padding-left: $unit*2 !important;
}

.u-padding.u--tight {
    padding-right: $unit !important;
    padding-left: $unit !important;
}

.u-padding-top,
.u-padding-top-lg {
    padding-top: $unit*2 !important;
}

.u-padding-top.u--tight,
.u-padding-top-md {
    padding-top: $unit !important;
}

.u-padding-right.u--tight {
    padding-right: $unit !important;
}

.u-padding-left.u--tight {
    padding-left: $unit !important;
}

.u-padding-bottom {
    padding-bottom: $unit*2 !important;
}

.u-padding-bottom.u--tight {
    padding-bottom: $unit !important;
}

.u-padding-left {
    padding-left: $unit*2 !important;
}

.u-padding-all {
    padding: $unit*2 !important;
}

.u-padding-all.u--tight {
    padding: $unit !important;
}

.u-padding-all.u--tight.u--less {
    padding: $sub-unit + 2 !important;
}

.u-padding-bottom.u--tight.u--less {
    padding-bottom: $sub-unit + 2 !important;
}

.u-padding-none {
    padding: 0 !important;
}

.u-padding-top-bottom-lg {
    padding-top: $sub-unit*3 !important;
    padding-bottom: $sub-unit*3 !important;
}

.u-padding-left-right-extra-lg {
    padding-right: $unit*3 !important;
    padding-left: $unit*3 !important;
}

.u-padding-bottom-lg {
    padding-bottom: $sub-unit*3 !important;
}

.u-padding-bottom-sm {
    padding-bottom: $sub-unit !important;
}

.u-padding-top-sm {
    padding-top: $sub-unit !important;
}

.u-padding-right-extra-tight {
    padding-right: $sub-unit !important;
}

.u-padding-left-extra-tight {
    padding-left: $sub-unit !important;
}

.u-padding-left-right-md-lg {
    padding-top: $unit !important;
    padding-right: $unit*2 !important;
    padding-bottom: $unit !important;
    padding-left: $unit*2 !important;
}

.u-padding-left-tight {
    padding-left: $unit !important;
}

.u-padding-top-extra-lg {
    padding-top: $sub-unit*3 !important;
}

.u-no-padding {
    padding: 0 !important;
}

.u-no-left-padding {
    padding-left: 0 !important;
}

.u-no-top-padding {
    padding-top: 0 !important;
}

.u-no-bottom-padding {
    padding-bottom: 0 !important;
}

.u-no-padding {
    padding: 0 !important;
}
