// Visibili// Visibility Utils
// ===
//
// Remove from flow but leave available to screen readers.

.u-visually-hidden,
%u-visually-hidden {
    position: absolute !important;

    overflow: hidden !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
}

.u--hide {
    display: none !important;
}

.u--show {
    display: block !important;
}

.u--flex {
    display: flex !important;
}

.u--inline-flex {
    display: inline-flex !important;
}

.u--flex-space {
    justify-content: space-between !important;
}

.u--display-inline {
    display: inline-block;
}

[id="gwt-site-feedback-modal"],
[id="gwt-sign-in-modal"] {
    position: absolute !important;

    overflow: hidden !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
}

.u-overflow-hidden {
    overflow: hidden;
}
