// Sign in
// =================
//scss-lint:disable all

.t-signin-register {
    color: $neutral-110;

    //TODO: Check from where the id is getting styling, may be getting this from other page
    #gwt-error-placement-div {
        padding-bottom: 0;
    }

    .c-welcome-message {
        color: $neutral-110;
        font-family: $default-sans;
    }

    .c-arrange__item {
        input[type="checkbox"] {
            margin-right: 0;
        }
    }

    .c-button {
        display: block;
        width: 84%;
        margin: 0 auto;
        margin-top: $sub-unit*3;
        margin-bottom: $sub-unit*3;
    }

    .u--tight.c-box-row.c-check-me {
        max-height: 44px;
        margin: 0;
    }

    .c-tabs__body {
        margin-bottom: 0;
    }

    .t-sign-in__registration-list {
        strong {
            color: $brand-color;
            font-family: $default-sans;
            font-weight: bold;
        }

        p {
            color: $neutral-110;
        }

        .c-icon {
            width: 12px;
            height: 12px;
            margin-right: $sub-unit;
            margin-left: -$sub-unit*3;

            vertical-align: baseline;
        }

        li {
            margin-bottom: $unit;
            padding-left: $sub-unit*3;

            color: $neutral-110;
            font-family: $default-sans;
        }
    }

    div[id='forgotpw'] {
        margin-bottom: $unit;

        font-family: $default-sans;
        font-weight: bold;
        text-align: center;

        a {
            color: $black;
            font-family: $default-sans;
            font-weight: bold;
        }
    }
}

label {
    margin-bottom: 0;

    color: $neutral-70;
    font-weight: bold !important;
}

#rememberMe {
    margin-top: 2px;

    background: $white;
}

.c-register-button.c-button.c--primary {
    margin-bottom: $unit + $sub-unit;
}

[type="checkbox"]:checked:before {
    border: 0;
}

[for="rememberMe"] {
    margin-bottom: $sub-unit/2;
}
