// PDP
// ===
//
.t-product-details-page {
    padding: 12px;
    background-color: #dadada;
    .c-produt-selection-container {
        padding: 0 12px;
    }
}

.t-product-layout {
    background: $white;
}

.t-product-details {

    .prod_detail_sale_price,
    .celebros_sale_price {
        margin-bottom: 2px;
        padding-right: 6px;

        color: #ff2812;
        font-weight: bold;
        text-transform: uppercase;
    }

}
